<section id="portfolio" class="bg-light">
  <div class="container">
    <div class="card bg-dark text-white">
      <svg version="1.1" viewBox="0 0 1200 1415" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
      <g>
          <image width="1200" height="1415" xlink:href="assets/images/about.jpg" preserveAspectRatio="none" />
          <path id="buttonone"
              d="m585 657.2a25.66 25.66 0 0 1-24.88 25.65 25.66 25.66 0 0 1-26.4-24.09 25.66 25.66 0 0 1 23.27-27.12 25.66 25.66 0 0 1 27.81 22.43l-25.47 3.122z"
              style="fill-opacity:.005233;fill:#fff;cursor:pointer;" />
          <path id="buttontwo"
              d="m466.3 1109a25.66 25.66 0 0 1-24.88 25.65 25.66 25.66 0 0 1-26.4-24.09 25.66 25.66 0 0 1 23.27-27.12 25.66 25.66 0 0 1 27.81 22.43l-25.47 3.122z"
              style="fill-opacity:.005233;fill:#fff;cursor:pointer;" />
          <path id="buttonthree"
              d="m321.6 999.5a25.66 25.66 0 0 1-24.88 25.65 25.66 25.66 0 0 1-26.4-24.09 25.66 25.66 0 0 1 23.27-27.12 25.66 25.66 0 0 1 27.81 22.43l-25.47 3.122z"
              style="fill-opacity:.005233;fill:#fff;cursor:pointer;" />
      </g>
  </svg>
  
  
 <div id="test" class="credo">
    <h5 class="card-title">Card title</h5>
     <p id="spanid" class="card-text"></p>
  </div>
</div> 
      
  </div>






</section>