<section id="portfolio" class="bg-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>portfolio we offer</h2>
        <img src="assets/images/about.jpg" alt="my infographic" class="img-fluid">
        <p>1. My name is Dalit Pessach, I am an illustrator and designer and the owner of Dio-olamot design studio that
          operates from our home. Home is wherever I can create with people I love and just be me </p>
        <p>2. Painting and art are passions of mine since childhood </p>
        <p>3. Hebrew is my native language, but I write my blog VIC in english </p>
        <p>4. My iPad wall paper is a photo of Claudio and me. Claudio is my partner in business and life. My iPad is
          always with me. I digitally draw on it and love listening to podcasts on various subjects when I paint or when
          I cook </p>
        <p>5. We have 2 grown children </p>
        <p>6. I love the smell of coffee, I love taking a few coffee breaks along my day </p>
        <p>7. Books, books and more books! Although I am a designer, I would be happy if all books had blank covers </p>
        <p>8. I'm a romantic, wild flowers, and gardens excite me </p>
        <p>9. I’m drawn to old photographs and childhood memories </p>
        <p>10. I’m always cold, and must have a warm shawl nearby </p>
        <p>11. I recharge at a little house in south Crete. There, on the beach I collect the most beautiful stones </p>
        <p>12. The color white calms me, I prefer white towels, white sheets, white T-shirts </p>
        <p>13. I screen print on used fabrics, bedsheets, table covers or clothes (preferably white), and I love
          photographing them as they hang to dry. I find their movement enchanting </p>
        <p>14. I love creating color palettes of things I see around me </p>
        <p>15. A full cookie jar gives me a homey feeling and reminds me of my grandmother Fira </p>
        <p>16. Rooms that have been lived in and time-aged objects call me on to tell their stories </p>
        <p>17. Avocado is one of my favourite fruits </p>
        <p>18. I enjoy home-made food and slow living </p>
        <p>19. I don't care for sets, I love unique beautiful dishes </p>
        <p>20. After all I've revealed here, I am still a very private (even a little shy) person</p>
      </div>
    </div>
  </div>
</section>