<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script>
    // $("path").click(fadeOpacity);
    // function fadeOpacity() {
    //     alert('Hey now!');
    // }

// $("#buttonone").click(function(){
//   $("#test h5").html("Hello <b>world!</b>");
// });
// $("#buttontwo").click(function(){
//   $("#test").html("Hola <b>mundo!</b>");
// });
$("#buttonthree").click(function(){
  $("#spanid").html("3. Hebrew עברית is my native language, but I write my blog VIC in english ");
});
$(document).ready(function(){ 
  $('#buttonone').click(function(){ 
   $("#spanid").html("1. My name is Dalit Pessach, I am an illustrator and designer and the owner of Dio-olamot design studio that operates from our home. Home is wherever I can create with people I love and just be me");
   });
  $('#buttontwo').click(function(){ 
   $("#spanid").html("2. Painting and art are passions of mine since childhood");
   });
});
</script>

</body>