<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body data-spy="scroll" data-target="#navbar-example2" data-offset="60" >

  {% include header.html%}
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4 sticky-top" id="navbar-example2">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#header">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#blog">From my Blog</a>
                <a class="dropdown-item" href="https://vic.dalitpsj.com">To my Blog</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#portfolio">portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#studio">studio</a>
            </li>
          </ul>
          
        </div>
      </nav>
{% include blog.html %}
{% include portfolio.html %}
{% include studio.html %}
{% include footer.html%}
</html>